body {
    background-image: url(re-act-ive-portfolio/images/IMG_3881.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Space Mono', monospace;
    
  }